In [36]:
import numpy as np
import pandas as pd
import itertools

In [2]:
negative_set = pd.read_csv('negative_set.bed', delimiter='\t', header = None)
gm = pd.read_csv('GM12878.bed', delimiter='\t', header=None)

In [3]:
negative_set.head()

       0      1      2
0  chr10  32251  36771
1  chr10  39431  39891
2  chr10  72312  74222
3  chr10  84717  85177
4  chr10  90499  91949

In [21]:
np.unique(negative_set[0])

array(['chr10', 'chr11', 'chr12', 'chr13', 'chr15', 'chr16', 'chr17',
       'chr18', 'chr19', 'chr2', 'chr20', 'chr22', 'chr3', 'chr4', 'chr5',
       'chr6', 'chr7', 'chr8', 'chr9', 'chrX', 'chrY'], dtype=object)

In [31]:
train_neg = negative_set.loc[~negative_set[0].isin(['chrY', 'chrX'])]

In [15]:
gm.tail()

          0          1          2         3
49667  chrX  154444850  154445660  9.207927
49668  chrX  154457730  154458660  5.836427
49669  chrX  154459120  154459990  8.231231
49670  chrX  154841610  154842450  7.930245
49671  chrX  155227450  155227940  6.410742

In [20]:
np.unique(gm[0])

array(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15',
       'chr16', 'chr17', 'chr18', 'chr19', 'chr2', 'chr20', 'chr21',
       'chr22', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9',
       'chrX'], dtype=object)

In [25]:
test = gm.loc[gm[0].isin(['chr1', 'chr14', 'chr21'])]

In [29]:
train = gm.loc[~gm[0].isin(['chr1', 'chr14', 'chr21', 'chrX'])]

In [9]:
GRCh37 = pd.read_csv('GRCh37.primary_assembly.genome.fa', sep='\t')

In [11]:
GRCh37

                                                    >chr1 1
0         NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
1         NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
2         NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
3         NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
4         NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
...                                                     ...
51696864  GTTGTAGTGCTGGCTGTTGTTGTGGTTGTGGGTTCAGTAGAGGTGG...
51696865  GTGGTTGTGGTCTCAGTAGCAGTGGCTGCAGTTGTGGTGGCAGACT...
51696866  CTTGCTGTGGTTGTCATTGTGGGTTCAGCAGAAGTGGCAGTGGTGG...
51696867  GTCTCAGTGGAAGTGCCTGCAGTTGTGGTGGCAGACTGTTCAGTTG...
51696868                                                 TC

[51696869 rows x 1 columns]

In [13]:
GRCh37_1 = GRCh37.loc[~GRCh37['>chr1 1'].str.contains('NN')]

In [14]:
GRCh37_1

                                                    >chr1 1
167       ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCC...
168       ACCCTAACCCTAACCCTAACCCTAACCCAACCCTAACCCTAACCCT...
169       CCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCT...
170       CCCTAACCCTAACCCTAACCCTAACCCTAACCCCTAACCCTAACCC...
171       TAACCCTAACCCTAACCCTAACCCTAACCCCAACCCCAACCCCAAC...
...                                                     ...
51696864  GTTGTAGTGCTGGCTGTTGTTGTGGTTGTGGGTTCAGTAGAGGTGG...
51696865  GTGGTTGTGGTCTCAGTAGCAGTGGCTGCAGTTGTGGTGGCAGACT...
51696866  CTTGCTGTGGTTGTCATTGTGGGTTCAGCAGAAGTGGCAGTGGTGG...
51696867  GTCTCAGTGGAAGTGCCTGCAGTTGTGGTGGCAGACTGTTCAGTTG...
51696868                                                 TC

[47746258 rows x 1 columns]

In [57]:
def Find_Kmers(string, k):    
    kmers = itertools.product('ACTG', repeat=2)
    for i in kmers:
        if string.count(''.join(i)) > 0:
            print(f"{''.join(i)}: {string.count(''.join(i))}")

In [58]:
Find_Kmers('ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCC', 2)

AA: 7
AC: 8
CC: 8
CT: 7
TA: 7